<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Architecture</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">View All</a></li>
      </ul>
      {{{body}}}

    </nav>
  </body>
</html>