<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js + Mongoose - EKB</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" id="logo">
            <img src="/img/prod_logo.png" alt="Thoughts" />
          </a>
        </li>
        <li><a href="/">Show Products</a></li>
        <li><a href="/create">Create Products</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
    <footer>
      <p><span>Products EKB 2024 &copy;</span></p>
    </footer>
  </body>
</html>