<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js + MySQL</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="headerFooter">
      <span>
        My Node.js + MySQL Application</span>
    </header>
    <div class="mainDiv">
      <nav id="navbar">
        <ul>
          <li><a href="/books">List All</a></li>
          <li><a href="/">Create New</a></li>
        </ul>
      </nav>
      {{{body}}}
    </div>
    <footer class="headerFooter">
      <small>By EKB</small>
    </footer>
  </body>
</html>