<div id="book-page">
  <a href="/books">Back to Books</a>
  <div class="container">
    <h3>{{book.name}}</h3>
    <p>This book has {{book.pages}} pages.</p>
    <p>This book costs US$ <span class="bold">{{book.price}}</span>.</p>
  </div>
</div>