<html lang="en">
  <head>
    <!-- COMMENTED BOOTSTRAP CSS TO USE LOCAL CSS -->
    {{! <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    /> }}
    <link rel="stylesheet" href="css/style.css" />
    <title>Handlebar Page</title>
  </head>

  <body>
    <header class="headerFooter">
      <small>E.K.B Page</small>
    </header>
    <nav>
      <p>Navigation Bar</p>
    </nav>
    <div class="mainDiv">
      <div class="text-center">
        <h1 class="text-primary">Hello, from Handlebars</h1>
      </div>
      <hr />
      {{{body}}}
      <hr />
    </div>

    <footer class="headerFooter">
      <small>Footer - EKB_Page</small>
    </footer>

    <!-- COMMENTED BOOTSTRAP CSS TO USE LOCAL CSS -->
    {{! <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    ></script> }}
  </body>
</html>